.custom-nav {
  font-size: medium;
  width: 100%;
  height: 55px;
  position: fixed;

  top: 0;
  z-index: 5;
}

.navbar-custom-content {
  /* background-color: white; */
  /* color: black; */
  /* width: 100%; */
  /* max-width: 75%; */
}
