.news-container {
  padding-top: 10vh;
  transition: padding-right 0.25s;
  width: 100%;
}

.article-margin {
  /* padding-right: 10%; */
}

.no-margin {
  /* padding-right: auto; */
  padding-right: 0;
}

.load-more-btn {
  color: blue;
  /* height: 40vh; */
  margin-bottom: 20px;
  margin-left: 15px;
  overflow: hidden;
  background-color: white;
  padding: 1;

  border-radius: 15px;
  /* align-items: center; */
  text-align: center;
  position: relative;
  width: 100%;
  height: 55px;
  font-size: large;
  /* height: 100%; */
}

@media only screen and (max-width: 1920px) {
  .article-margin {
    padding-right: 20%;
  }

  .no-margin {
    padding-right: auto;
  }
}

@media only screen and (max-width: 1440px) {
  .article-margin {
    padding-right: 20%;
  }

  .no-margin {
    padding-right: auto;
  }
}

@media only screen and (max-width: 1360px) {
  .article-margin {
    padding-right: 25%;
  }

  .no-margin {
    padding-right: auto;
  }
}

@media only screen and (max-width: 1280px) {
  .article-margin {
    padding-right: 25%;
  }

  .no-margin {
    padding-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .article-margin {
    padding-right: 1em;
  }

  .no-margin {
    padding-right: 1em;
  }
}

.margin-top {
  margin-top: 4em;
}
