.news-container {
  padding-top: 10vh;
  transition: padding-right 0.25s;
}

.article-margin {
  /* padding-right: 10%; */
}

.no-margin {
  /* padding-right: auto; */
  padding-right: 0;
}

@media only screen and (max-width: 1920px) {
  .article-margin {
    padding-right: 20%;
  }

  .no-margin {
    padding-right: auto;
  }
}

@media only screen and (max-width: 1440px) {
  .article-margin {
    padding-right: 20%;
  }

  .no-margin {
    padding-right: auto;
  }
}

@media only screen and (max-width: 1360px) {
  .article-margin {
    padding-right: 25%;
  }

  .no-margin {
    padding-right: auto;
  }
}

@media only screen and (max-width: 1280px) {
  .article-margin {
    padding-right: 25%;
  }

  .no-margin {
    padding-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .article-margin {
    padding-right: 1em;
  }

  .no-margin {
    padding-right: auto;
  }
}

.margin-top {
  margin-top: 4em;
}
