.article-container::-webkit-scrollbar {
  display: none;
}

.article-container {
  background-color: lightgrey;
  color: black;
  position: fixed;
  /* right: 0; */
  top: 75px;
  height: 87vh;
  width: 90%;
  right: -90%;
  padding-top: 40px;
  padding-right: 1em;
  padding-left: 1em;
  z-index: 1;

  /* -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s; */
  display: block;

  border-radius: 15px;
  /* overflow: auto; */
  /* overflow: hidden; */
  text-align: justify;
}

.outer-article {
  /* position: relative; */
  /* overflow: auto; */

  height: 100%;
  padding-right: 10px;

  overflow: auto;
}

.collapsed-width {
  /* width: 0; */
  right: -90%;
  /* background-color: green; */
}

.open-width {
  /* width: 85%; */
  right: 5%;
  /* background-color: red; */
  transition: 0.5s;
}

@media only screen and (min-width: 1200px) {
  .article-container {
    width: 25%;
  }
  .open-width {
    right: 3%;
    transition: 0.5s;
  }
  .collapsed-width {
    /* width: 0; */
    right: -25%;
    /* background-color: green; */
  }
}

@media only screen and (min-width: 600px) {
  .article-container {
    width: 25%;
  }
  .open-width {
    right: 3%;
    transition: 0.5s;
  }
  .collapsed-width {
    right: -25%;
  }
}

.article-title {
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.article-body {
  /* font-size: medium;
  background-color: green;
  height: 50%;
  overflow: auto; */

  font-size: small;
  width: 100%;
  height: 40vh;
  margin-left: 20px;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  overflow-x: auto;
  text-align: justify;

  padding-right: 20px;
}

.article-close {
  top: 10px;
  left: 5%;
  z-index: 10;
  position: absolute;
}

.body-container {
  /* background-color: blue;
  overflow: auto; */

  overflow: hidden;
}

.cover-up {
  padding-right: 100px;
}

.text-body {
  font-size: small;
  width: 100%;
}

.author {
  font-size: small;
}
